.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100vh - 180px);
    width: 100%;
    color: #FDEDF3;
    padding: 0 3rem;
    gap: 2rem;
    background:#0F011C;
}

.introContent {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Trebuchet MS", sans-serif;
}

.hello {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.introText {
    font-size: 3rem;
    line-height: 1.2;
}

.introName {
    color: #FEE8CD;
}

.introPara {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 1rem;
    max-width: 500px;
}

.bg {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    flex-shrink: 0;
}
.randomFact{
    font-size: 1.25rem;
    font-style: italic;
    margin-top: 3rem;
    color: #FEE8CD;
    border: 1px solid #FDEDF3;

    padding: 1rem;
    border-radius: 10px;
}

.factButton {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #FEE8CD;
    color: #0F011C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}